<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
    </head>
    <body>
        <form action="/memo/add" method="post">
            메모내용<input type="text" name="content">
            <button type="submit">추가</button>
        </form>
        {%for memo in memos%}
        <p>{{memo.content}}{{"중요" if (memo.important) else ""}}
            <form action="/memo/delete" method="post">
                <input type="hidden" name="memo_id" value="{{memo.id}}">
                <button type="submit">삭제</button>
            </form>
            <form action="/memo/important" method="post">
                <input type="hidden" name="memo_id" value="{{memo.id}}">
                <button type="submit">중요</button>
            </form>
        </p>
        {%endfor%}
        
    </body>
</html>